@media (max-width: 1900px) { 
    .product_slider_inner {
        text-align: center;
    }
    .product_item_category {
        text-align: left;
    }
}

@media (max-width: 1440px) { 
    .product_slider_inner .product_item {
         max-width: 560px;
    }
}

@media (max-width: 1400px) {
    .products_inner_box {
        .product_item {
            flex-basis: calc(33.3333% - 30px);
        }
    }
}

@media (max-width: 1225px) { 
    .product_slider_inner .product_item{
        max-width: 400px;
    }
}

@media (max-width: 1200px) {
    .tutorial_item {
        padding: 0 5px;
    }
    .withdrawals_inner {
        display: block;
    }
    .withdrawals_col {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .withdrawals_content_item {
        max-width: 490px;
    }
    .contact_form_row {
        display: block;
    }
    .contact_form input {
        width: 100%;
    }
    .product_one .product_mini {
        max-width: 48%;
    }
    .product_one_inner {
        display: block;
    }
    .product_one_content, .product_one_images {
        max-width: 100%;
    }
    .product_one_content {
        margin-right: 0;
    }
    .product_one_aside {
        display: flex;
        justify-content: space-around;
    }
    .product_one {
        padding-bottom: 40px;
    }
    .product_page_inner {
        display: block;
    }
    .top_sellers {
        display: none;
    }
    .product_page_aside {
        margin-right: 0px;
        display: flex;
        justify-content: center;
    }
    .category {
        margin-right: 20px;
    }
}

@media (max-width: 1150px) {
    .footer_inner {
        flex-wrap: wrap;
    }
    .footer_col_adress {
        min-width: 100%;
        margin-bottom: 30px;
    }
    .header_text {
        display: none;
    }
    .products_inner_box {
        .product_item {
            flex-basis: calc(50% - 30px);
            max-width: 100%;
        }
        .product_item_img {
            min-height: 225px;
        }
    }
}

@media (max-width: 1020px) {
    .tutorial_item {
        padding: 0;
        margin-left: 20px;
        max-width: 100%;
        flex-basis: calc(50% - 20px);
        margin-bottom: 20px;
        margin-right: 0;
    }
    .tutorial_inner {
        flex-wrap: wrap;
        margin-left: -20px;
    }
    .product_one_tabs.settings_tabs {
        display: block;
    }
    .product_one_tabs.settings_tabs .tabs {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .product_slider_inner .product_item{
        max-width: 300px;
    }
}

@media (max-width: 960px) { 
    .page_404_404::after {
        width: 50px;
        height: 97px;
        background-size: cover;
    }
    .contact_box {
        display: block;
    }
}

@media (max-width: 900px) {
    .advantages_inner {
        display: block;
    }
    .advantages_item {
        margin-bottom: 30px;
        max-width: 100%;
    }
    .search_inner_title {
        font-size: 35px;
        line-height: 40px;
    }
    .product_page_content .product_item {
        flex-basis: calc(50% - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .product_page_items {
        margin-left: -20px;
    }
    .product_item.list {
        flex-basis: 100%;        
    }
    .footer_col_social {
        min-width: 100%;
        margin-top: 30px;
    }
    .footer_inner {
       justify-content: space-around;
    }
    .profile_inner {
       flex-direction: column;
    }
    .profile_content {
        order: -1;
        margin-bottom: 20px;
    }
    .profile_aside {
        margin: 0 auto;
    }
    .product_one_aside {
        flex-wrap: wrap;
    }
}

@media (max-width: 840px) {
    .author {
        min-height: 450px;
    }
    .product_slider {
        padding: 20px 0 70px;
    }
    .products, .advantages, .tutorial {
        padding: 70px 0;
    }
    .title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 25px;
    }
    .icon-th-list {
        display: none;
    }
    .menu_list {
        display: none;
        background-color: $bg;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        z-index: 1;
        padding-bottom: 30px;
        text-align: center;
        a {
            display: block;
            padding: 10px 0;
            border-bottom: 1px solid #fff;
        }
        li {
            display: block;
            & + li {
                margin-left: 0;
            }
            &:first-child {
                border-top: 1px solid #fff;
            }
        }
    }
    .menu_btn {
        display: block;
        width: 30px;
        div {
            background-color: #fff;
            height: 3px;
            & + div {
                margin-top: 5px;
            }
        }
    }
    .upload_line {
        display: block;
        label {
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    .upload_inner {
        button {
            margin-left: 0;
        }
    }
    .product_one_box {
        display: block;
        text-align: center;
    }
    .product_one_link {
        margin-bottom: 20px;
    }
}
@media (max-width: 800px) {
    .product_slider_inner .product_item {
        max-width: 100%;
    }
}

@media (max-width: 740px) {
    .page_404_404 {
        font-size: 200px;
        line-height: 200px;
    }
    .page_404_title {
        font-size: 24px;
        margin-bottom: 20px;
    } 
    .page_404_text {
        font-size: 16px;
        margin-bottom: 40px;
    } 
    .page_404_link {
        padding: 10px 30px 8px;
    }
}
@media (max-width: 700px) {
    .author_box {
        display: block;
        padding: 50px 15px;
        text-align: center;
    }
    .author_title {
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
        line-height: 38px;
    }
    .products_inner_box {
        .product_item {
            flex-basis: 100%;
            max-width: 100%;
        }
    }
    .product_item_img {
        min-height: 225px;
    }
}

@media (max-width: 640px) {
    .tutorial_item {
        flex-basis: 100%;
    }
    .product_slider .slick-dots li button {
        height: 13px;
        width: 13px;
    }
    .product_slider .slick-dots li {
        margin-left: 2px;
        margin-right: 2px;
    }
    .products_inner_btn button {
        width: 100%;
        & + button {
            margin-left: 0;
        }
    }
    .notification_box,
    .message_box {
        display: none;
    }
    .menu_list {
        position: absolute;
        li {
            display: block;
        }
    }
    .basket_menu {
        right: auto;
    }
    .profile_banner_images {
        min-height: 245px;
    }
    .profile_banner {
        margin-bottom: 20px;
    }
    .profile_items {
        display: block;
    }
    .profile_item {
     width: 100%;
    }
    .profile_item + .profile_item {
        border-left: none;
        border-top: 1px solid #dedede;
    }
}

@media (max-width: 600px) {
    .product_page_content .product_item {
        flex-basis: 100%;
        max-width: 100%;
    }
    .page_404_inner {
        padding: 0 15px;
    }
    .page_404_404 {
        font-size: 120px;
        line-height: 120px;
    }
    .page_404_title {
        line-height: 30px;
    } 
    .page_404_404::after {
        margin-left: 0;
        top: 16px;
        right: 0;
    }
    .upload_inner_content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .upload_inner_title {
        padding: 16px 10px 18px;
    }
    .settings_line {
        display: block;
        label {
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    .page_box_content {
        padding: 20px 10px 50px;
    }
    .page_box_title {
        padding: 18px 10px;
    }
    .page_box_content button {
        margin-left: 0;
    }
    .settings {
        padding-bottom: 20px;
    }
    .contact_inner {
        padding: 35px 10px 15px;
    }
    .contact_head {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact_wrapper {
        margin-bottom: 90px;
    }
    .container {
        padding: 0 8px;
    }
    .contact_map iframe {
        height: 300px;
    }
    .personal_box {
        padding: 35px 10px 25px;
    }
    .product_one_tabs {
        .tabs {
            display: block;
            .tab {
                display: block;
                & + .tab {
                    border-top: 1px solid #d7d7d7;
                }
            }
        }
    }
}


@media (max-width: 540px) {
    .product_page_aside {
        flex-wrap: wrap;
    }
    .category {
        margin-right: 0;
    }
    .product_one_images {
        height: 300px;
    }
    .product_one_link a {
        width: 100%;
        margin-bottom: 20px;
    }
    .product_one_link a+a {
        margin-left: 0px;
    }
    .product_one .product_mini {
        max-width: 100%;
    }
    .product_one .tab-item_list {
        column-count: 1;
        column-gap: 0px;
    }
    .footer_col {
        min-width: 100%;
    }
    .footer_col_menu {
        & + & {
            margin-top: 30px;
        }
    }
    .withdrawals_content {
       padding-left: 10px;
       padding-right: 10px;
    }
    .withdrawals_content_item {
        min-width: 490px;
    }
    .withdrawals_content_items {
        overflow-x: scroll;
    }
}

@media (max-width: 520px) {
    .create_acc {
        width: 100%;
    }
    .login_wrapper button {
        margin-right: 0;
        width: 100%;
    }
    .menu_list {
        top: 70px;
    }
    .user_menu {
        top: 59px;
    }
    .basket_menu  {
        top: 52px;
    }
    .header_btn_menu {
        display: block;   
        background-color: $bg;
        position: absolute;
        right: 0;
        top: 0;
        width: 70px;
        height: 70px;
        z-index: 4;
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 36px;
            color: #fff;
        }
    }
    .header_box {
        position: absolute;
        transition: all .5s;
        height: 70px;
        background-color: #fff;
        left: 100%;
        right: -100%;
        z-index: 2;
        &.active {
            left: 70px;
            right: 90px;
        }
    }
    .header_logo {
        margin-left: 60px;
    }
    .menu_btn {
        position: absolute;
        top: 35px;
        div {
            background-color: $bg;
        }
    }
    .header_inner {
        height: 70px;
    }
}

@media (max-width: 495px) {
    .user_info {
        display: none;
    }
    .user_images {
        margin-right: 0;
    }
    .about_head {
        padding: 23px 10px;
    }
    .about_inner {
        padding: 0 10px;
    }
    .about_box h3 {
        margin-top: 20px;
    }
    .about_box p {
        margin-bottom: 20px;
    }
    .about_wrapper {
        margin-bottom: 90px;
    }
}

@media (max-width: 390px) {
    .header_box {
        &.active {
            left: 47px;
        }
    }
    .basket_box {
        margin-left: 0;
    }
    .menu_btn {
        left: 10px;
    }
    .fancybox-content {
        padding: 44px 10px;
    }
}

@media (max-width: 360px) {
    .user {
        margin-right: 0;
    }
    .header_logo {
        margin-left: 50px;
    }
    .basket {
        margin-right: 10px;
    }
    .basket_menu {
       left: -20px;
    }
    .product_item_content, .product_item_info {
        padding: 10px;
    }

}





@media (min-width: 840px) {
    .menu_list {
        display: block !important;
    }
}