@import '_vars';
@import '_global';

.header_inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header_text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}
.header_btn {
    color: #fff;
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    &_login {
        background-color: $green;
    }
    &_register {
        background-color: $red;
        margin-left: 7px;
    }
}
.header_menu {
    background-color: $bg;
}
.menu {
    display: flex;
    align-items: center;
    height: 60px;
 }
 .menu_list {
     li {
     display: inline-block;
         & + li {
             margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
 }
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search_inner {
    padding: 150px 0; 
    color: #fff;
    text-align: center;
    &_title {
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &_text {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    &_form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input {
            display: block;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, .75);
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder {
                color: #90a4ae;
                font-weight: 500;
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
        }
    }
}

.products {
    padding: 110px 0px;
    background-color: $grey;
}
.products_inner_btn {
   text-align: center;
   margin-bottom: 60px;
   button {
       padding: 12px 21px;
       border: none;
       background-color: #fff;
       color: $bg;
       cursor: pointer;
       & + button {
           margin-left: 5px;
       }
       &.mixitup-control-active {
           background-color: $red;
           color: #fff;
           outline: none;
       }
   }
}
.products_inner_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product_item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, .75);
    margin-bottom: 30px;
    margin-right: 30px;
     &_img {
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
    }
    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px; 
        min-height: 90px;
        font-weight: 500;
        border-bottom: 1px solid #e7ecf2;
    }
    &_name {
        max-width: 310px;
    }
    &_title {
        color: $bg;
        font-size: 18px;
        display: block;
    }
    &_category {
        display: block;
        color: $lightgreen;
        font-size: 14px;
    }
    &_price {
        font-size: 20px;
        color: $bg;
        font-weight: 700;
    }
    &_info {
        min-height: 70px;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_author {
        display: flex;
        align-items: center;
        max-width: 245px;
        span {
            font-weight: 500;
            font-size: 14px;
        }
        .avatar {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 14px;
        }
    }
    &_star {
        span {
            color: $bg;
            font-size: 12px;
        }
    }
}
.products_bottom_btn {
    text-align: center;
    button {
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, .75);
        border: none;
        background-color: #fff;
        font-size: 16px;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }
} 

.product_slider {
    padding: 110px 0 120px;
    .slick-dots {
        margin-top: 50px;
        text-align: center;
        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
            button {
                border-radius: 50%;
                background-color: rgb(232,232,232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}   

.advantages {
    background-color: $bg;
    padding: 110px 0;
}
.advantages_title {
    color: #fff;
}
.advantages_inner {
    display: flex;
    justify-content: space-between;
}
.advantages_item {
    max-width: 370px;
    text-align: center;
    padding: 0px 15px;
    &:hover {
        .advantages_item_images {
            background-color: $green;
        }
        .advantages_item_title {
            color: $green;
        }
        .advantages_item_images {
            g {
                fill: #fff;
            }
        }
    }
    &_images {
        height: 114px;
        width: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .5s;
    }
    &_title {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 25px;
        transition: all .5s;
    }
}
.icosvg-1 {
    svg {
        width: 50px;
    }
}
.icosvg-2 {
    svg {
        width: 70px;
    }
}
.icosvg-3 {
    svg {
        width: 80px;
    }
}
.author {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_box {
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
    }
    &_title {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 260px;
        span {
            font-weight: 700;
        }
    }
    &_link {
        background-color: #fff;
        padding: 14px 40px;
        font-size: 18px;
        line-height: 36px;
    }
}
.tutorial {
    padding: 70px 0 120px;
    &_inner {
        display: flex;
        justify-content: center;
    }
    &_item {
        max-width: 370px;
        width: 100%;
    }
}
.tutorial_item {
    margin-right: 30px;
    &_images {
        min-height: 270px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &_title {
        background-color: #f8f8f8;
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        padding: 30px 10px;
        color: $bg;
    }
}
.product_item:last-child,
.tutorial_item:last-child {
    margin-right: 0;
}

.footer {
    background-color: $bg;
    &_inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}
.footer_copy {
    border-top: 1px solid #424d53;
}
.footer_copy_text {
    text-align: center;
    color: #919699;
    padding: 25px 0;
}
.footer_col {
    max-width: 270px;
    &_menu {
        max-width: 220px;
        width: 100%;
    }
    &_title {
        font-size: 22px;
        color: #b7c3c8;
        font-weight: 700;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 2px;
            bottom: 0;
            background-color: $green;
            height: 3px;
            width: 51px;
        }
    }
}
.footer_info {
    color: #fff;
    margin-top: 18px;
    font-weight: 500;
    padding-left: 30px;
    position: relative;
    &::before {
        font-family: 'icomoon';
        content: "\f041";        
        position: absolute;
        left: 0;
        color: $green;
        font-size: 18px; 
    }
}
.footer_info_phone {
    &::before {
        font-family: 'icomoon';
        content: "\f095";
    }
}
.footer_col_list {
    a {
        margin-bottom: 13px;
        padding-left: 22px;
        position: relative;
        &::before{
            font-family: 'icomoon';
            content: "\f105";            
            position: absolute;
            left: 0;
            color: $green;
            font-size: 18px; 
        }
    }
}
.footer_social_link {
    margin-bottom: 33px;
    li {
        display: inline-block;
    }
    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/css_sprites.png);
        & + a {
            margin-left: 7px;
        }
    }
}
.link_twitter {
    background-position: -28px 0;
}
.link_youtube {
    background-position: 336px 28px;
}
.link_pinterest {
    background-position: 392px 252px;
}
.link_linledin {
    background-position: -56px 0;
}
.footer_form_title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
}
.footer_form {
    position: relative;
    input {
        border: none;
        display: block;
        width: 100%;
        background-color: #2f3c43;
        height: 40px;
        color: #fff;
        font-size: 14px;
        padding: 0 50px 0 13px;
        &::placeholder {
            color: #697378;
        }
    }
    button {
        position: absolute;
        right: 0;
        bottom: 0px;
        height: 40px;
        background-color: $green;
        border: none;
        width: 43px;
        cursor: pointer;
        &::before {
            font-family: 'icomoon';
            content: "\f124";            
            position: absolute;
            color: #fff;
            font-size: 20px;
            top: 11px;
            left: 13px;
        }
    }
}
